// COLOR VARIABLES
$color-primary: #7090c7;
$color-primary-dark: #264073;

$color-white: #fff;
$color-gray: #575757;


// FONT VARIABLES
$font-primary: 'Outfit', sans-serif;
$font-display: 'Outfit', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $font-display;
    color: $color-gray;
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.5rem;
}